/* шрифт */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');
/* обнуление */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Montserrat', serif;
  color: rgb(37, 37, 37);
}
/* links */
a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}
a:hover {
  color: rgb(228, 119, 119);
}
.link-button {
  font-size: 25px;
  color: #fff;
  padding: 10px;
  background: #eb8484;
  border-radius: 2px;
  margin-top: 20px;
  text-align: center;
}
.link-button:hover {
  color: #eb8484;
  padding: 12px;
  background: rgba(241, 232, 250, 0.493);
  transition: 0.7s;
}
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* header */
header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(241, 232, 250, 0.493);
  /* border-bottom: 1px solid rgba(105, 102, 102, 0.596); */
}
.logo {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(105, 102, 102, 0.596);
}
.logo h1 {
  margin-left: 20px;
}

.header_content {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.header_content h2 {
  display: flex;
  width: 50%;
  font-size: 40px;
  padding: 20px 0 10px 0;
  border-bottom: 4px solid rgba(53, 52, 52, 0.911);
}
.header_content h2 p {
  margin-left: 10px;
}
.header_content h3 {
  align-self: center;
  font-size: 30px;
  padding: 30px 0 15px 0;
}
.typografy-left {
  align-self: flex-end;
}
.header_organization {
  align-self: center;
  text-align: center;
  display: flex;
  width: 80%;
  flex-direction: column;
  padding: 40px 0px 10px 0px;
  justify-content: center;
}
.header_organization ul {
  width: 70%;
  align-self: center;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(105, 102, 102, 0.596);
}
.header_form {
  align-self: center;
  text-align: center;
  display: flex;
  width: 80%;
  flex-direction: column;
  padding: 40px 0px 10px 0px;
  justify-content: center;
}
.header_form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

input,
textarea {
  border: none;
  width: 500px;
  height: 50px;
  border-bottom: 1px solid rgb(43, 43, 43);
  background-color: rgba(241, 232, 250, 0.493);
  margin-top: 10px;
  padding: 10px;
}
textarea {
  height: 300px;
}
form button {
  margin-top: 30px;
  width: 600px;
  height: 50px;
  border: none;
  background: #eb8484;
  color: #fff;
  font-size: 20px;
}
form button:hover {
  cursor: pointer;
  background: #f15151;
  transition: 0.7s;
}

.header_news {
  padding: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.header_news p {
  font-size: 20px;
  margin-top: 20px;
}
.header_news a {
  font-size: 20px;
  padding: 20px 0 20px 0;
  text-decoration: wavy;
}
/* MAIN BLOCK */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* news */
.news {
  padding: 20px 0 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news h2 {
  font-size: 30px;
  text-align: center;
}
.news ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.news ul li {
  width: 300px;
  padding: 25px;
  background: rgba(236, 233, 240, 0.493);
  margin-left: 20px;
  margin-top: 20px;
}
.news ul li img {
  width: 250px;
}
.news_date {
  margin-top: 10px;
  color: rgb(226, 176, 176);
}
.news_title {
  margin-top: 10px;
}
/* speakers */
.spikers {
  background-color: rgba(241, 232, 250, 0.493);
  width: 100%;
  padding: 20px 0 20px 0;
}
.spikers h2 {
  font-size: 30px;
  text-align: center;
}
.spikers ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.spikers ul li {
  width: 300px;
  padding: 25px;

  margin-left: 20px;
  margin-top: 20px;
}
.spikers ul li img {
  width: 250px;
}
/* info */
.forum_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.forum_info h2 {
  font-size: 30px;
  text-align: center;
}
.forum_info p {
  width: 40%;
  font-size: 25px;
  padding: 10px;
  background-color: rgba(241, 232, 250, 0.493);
  margin-top: 10px;
  align-self: center;
}
/* register */
.register_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(241, 232, 250, 0.493);
  padding: 20px 0 20px 0;
}
.register_form h2 {
  font-size: 30px;
  text-align: center;
}
.register_form p {
  width: 40%;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  align-self: center;
}
.register_form a {
  width: 30%;
  align-self: center;
}
/* footer */
footer {
  width: 100%;
  padding: 20px;
  background: rgb(126, 126, 126);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  text-align: center;
}
footer ul li {
  margin-top: 10px;
}
/* Admin panel */
.adm_panel {
  width: 80%;
  display: flex;
}
.adm_panel aside {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  padding: 5px;
}
.icon {
  width: 30px;
  cursor: pointer;
}
.adm_panel_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.adm_panel_content ul {
  display: flex;
  flex-direction: column;
}
.adm_panel_content ul li {
  display: flex;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 10px;
}
.blocks {
  border: 1px solid rgb(216, 216, 216);
  padding: 5px;
  margin-top: 5px;
  margin-left: 2px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.user_action {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.user_action a {
  margin-left: 5px;
}
.adm_panel_content_header {
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgb(104, 96, 96);
}
